

.profile {
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    border: solid 1px #ccc;
}

.profile > div:nth-child(1) {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
}

.profile > div:nth-child(2) {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #ccc; 
}

.profile > div:nth-child(3) {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #ccc;
}



.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0.5rem;
}

.profile p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.profile button {
    padding: 0.5rem 1rem;
    background-color: #f1356d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
}

.profile button:hover {
    background-color: #f1356d;
}

.profile button:active {
    background-color: #f1356d;
}

.profile button:focus {
    outline: none;
}

.profile button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.profile button:disabled:hover {
    background-color: #ccc;
}

.profile button:disabled:active {
    background-color: #ccc;
}

.profile button:disabled:focus {
    outline: none;
}

.profile input {
    padding-left: 0.75rem;
    width: 100%;
    margin-bottom: 1rem;
}
.profileInfo {
padding-left: 10px;
}

@media screen and (max-width: 430px) {
.textProfile {
    font-size: 20px;
}

.profile {
    max-width: 430px;
}
.profile > div:nth-child(2) {
    max-width: 170px;
}
.orders  {
max-width: 430px;
font-size: 15px;
}
.profileInfo {
padding-left: 10px;
}
}