.mainContentTreatment {
    background-color: #f5f5f5;
    min-height: 200vh;   
    width: 100%;

}

.containerTreatement {
display: flex; 
flex-direction: row;
justify-content: center;
gap: 50px;

}

.TextTreatment {

display: flex;
align-items: center;


}

.button-Container {
display: flex;
justify-content: center;
align-items: center;   
}

.button-toggle {
    height: 30px;
width: 150px;
background-color: #6fb5c0db;
border-radius: 5px;
font-size: 20px;
display: block;
text-align: center;
border: none;
cursor: pointer;


}

.button-toggle:hover{

transform: scale(110%);
transition-duration: 1s;


}

.boxes {
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: center;
align-items: center;
gap: 20px;

}
 
.boxTreatment {
    width: 600px;
    height: 200px;
    background-color: #6fb5c0db;
    border-radius: 2%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxTreatment1 {
    width: 600px;
    height: 200px;
    background-color: #6fb5c0db;
    border-radius: 2%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-Container {
display: flex;
justify-content: center;
flex-direction: row;
gap: 20px;

}

.InfoTitle {
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.Textbox {
    padding-left: 10px;
text-align: left;
font-size: 20px;
}


.image {

height: 400px;
width: 270px;

}